@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* \\\ GLOBAL CLASSES  //// */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(60deg, rgb(8, 137, 184), rgb(4, 136, 197), rgb(29, 137, 225), rgb(31, 132, 203));
    animation: animateTitle 10s ease infinite;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-size {
    width: 100%;
    height: 100vh;
}

.pip {
    font-family: 'Lilita One', 'cursive';
    font-size: 1.8rem;
    letter-spacing: 1.5px;
}

.button {
    font-size: 2rem;
    background-color: #be242c;
    background: linear-gradient(0deg, #be242c, #fb1e29, #be242c);
    color: rgb(249, 253, 6);
    padding: 1.25rem 2rem;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 5px 3px 20px rgb(119, 28, 28), inset -5px -3px 20px rgb(119, 28, 28);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 2rem;
}

.button:hover {
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
    cursor: pointer;
}

/* \\\ LANDING PAGE //// */
/* \\\ LANDING PAGE //// */
/* \\\ LANDING PAGE //// */

.moving-bg {
    display: block;
    background: url('../images/seaBG1.png');
    background-size: cover;
    animation: wave 6s ease-in-out infinite;
}

.fade {
    opacity: 0;
    transform: scale(2,2);
    transition: all 2s ease-in-out;
}

.game-intro {
    background: url('../images/introBG.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-container {
    margin-left: 6rem;
    width: 33rem;
    margin-top: -1.5rem;
}

.text-bg {
    background: linear-gradient(45deg, rgb(240, 89, 89), rgb(250, 240, 42), rgb(240, 89, 89));
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: animateTitle 6s ease infinite;
}

@keyframes animateTitle {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.title-intro.text-bg.pip {
    font-size: 7rem;
    padding: 0 .7rem;
}

.title-intro:nth-child(2) {
    margin-bottom: 1.2rem;
}

.title-intro {
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 0;
}

.rules {
    color: rgb(239, 238, 238);
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.2rem;
    margin: 0;
}

.space-bar {
    text-transform: uppercase;
    font-size: .9rem;
    background-color: #fff;
    padding: .2rem .5rem;
    margin-right: .3rem;
    color:#277bf1;
    border-radius: .2rem;
    vertical-align: .2rem;
    font-weight: 600;
}

/* \\\ END LANDING PAGE //// */
/* \\\ END LANDING PAGE //// */
/* \\\ END LANDING PAGE //// */

/* \\\ GAME BOARD //// */
/* \\\ GAME BOARD //// */
/* \\\ GAME BOARD //// */

#game-board {
    position: relative;
    animation: fadeIn 3s ease 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#canvas-bg {
    position: absolute;
    z-index: -1;
    background: linear-gradient(60deg, rgb(52, 201, 255), rgb(4, 136, 197), rgb(110, 184, 244), rgb(31, 132, 203));
    background-size: 300% 300%;
    animation: animateTitle 10s ease infinite;
}

#canvas-game {
    position: absolute;
    z-index: 1;
    width: 100vw !important;
    height: 100vh !important;
}

/* \\ Score Display // */

.score-container {
    position: absolute;
    background: linear-gradient( rgb(255, 255, 0), rgb(242, 255, 0), rgb(248, 252, 9));
    width: max-content;
    right: 1rem;
    top: 0.8rem;
    border-radius: 1rem;
    box-shadow: inset 2px 2px 4px #f88e2b, inset -2px -2px 4px #f88e2b;
}

.score-display {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-family: 'Lilita One', 'cursive';
    padding: .6rem .8rem;
    margin: .6rem;
    border-radius: .8rem;
    background: linear-gradient( rgb(244, 228, 5), rgb(242, 255, 0), rgb(242, 255, 0), rgb(240, 244, 14));
    box-shadow: 2px 2px 4px #f88e2b, -2px -2px 4px #f88e2b;
    box-shadow: inset 2px 2px 4px #f88e2b, inset -2px -2px 4px #f88e2b;
}

.score-display h1 {
    background: linear-gradient(0deg, #42b603, #1bac91, #5cca02);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

#score {
    background: linear-gradient(0deg, #277bf1, #64bb32, #1bbce9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

/* \\\ END GAME BOARD //// */
/* \\\ END GAME BOARD //// */
/* \\\ END GAME BOARD //// */

/* \\\ GAME OVER //// */
/* \\\ GAME OVER //// */
/* \\\ GAME OVER //// */
.game-over-bg {
    background: linear-gradient(45deg, rgb(21, 106, 217), rgb(113, 170, 232), rgb(115, 221, 248), rgb(64, 134, 226));
    background-size: 300% 300%;
    animation: animateTitle 3s ease infinite;
}

.game-over-sea {
    background: url("../images/seaBG.png");
    background-repeat: no-repeat;
    background-size: 120%;
    animation: wave 8s ease-in-out infinite;
}

@keyframes wave {
    0% {
        background-position: -20px 78%;  
    }
    50% {
        background-position: 0px 77%;
    } 
    100% {
        background-position: -20px 78%; 
    }   
}

.game-over-container {
    height: 100vh;
}

.score {
    font-size: 2rem;
    margin: 30px auto;
}

.home-icon {
    margin-top: 3rem;
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
    border: 1px solid #fff;
    border-radius: 50%;
}

.home-icon:hover {
    cursor: pointer;
    transform: scale(.9);
    transition: transform .5s ease-in-out;
}
/* \\\ END GAME OVER //// */
/* \\\ END GAME OVER //// */
/* \\\ END GAME OVER //// */

@media screen and (max-width: 360px) {
    html {
        font-size: .5px;
    }
}

@media screen and (max-width: 560px) {
    html {
        font-size: 1px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 12px;
    }
}
.show {
    display: block;
}
.hide {
    display: none;
}